{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% for post in post_list %}
    <section class="post">
        <header class="post-header">
            <h2 clas="post-title"><a href="{% url "detail" id=post.id %}">{{post.title}}</a></h2>
            <p class="post-meta">
            Time: <a href="#" class="post-author">{{ post.date_time }}</a>
            <a href="#" class="post-cagetory post-category-js">&nbsp;{{post.category}}</a>
            </p>
        </header>
    </section>
    {% endfor %}
</div>
{% endblock %}
